.container {
    background-color: var(--color-bg);
    background-image: url('/images/bg-texture.png');
}

.wrapper {
    position: relative;
    height: 100vh;
    text-align: center;
    padding-top: 5em;
    color: var(--color-white);
}

.title {
    font-family: var(--header-font);
    font-size: 5em;
    margin-bottom: .125em;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    position: absolute;
    left: 0;
    bottom: 3em;
    color: var(--color-primary);
}

.socials > a {
    transition: color 300ms ease-in-out;
}

.socials > a:hover {
    color: var(--color-white);
}

.socials::after {
    content: '';
    height: 2em;
    width: 1px;
    background-color: var(--color-primary);
    margin: 0 auto;
}

.imageContainer {
    position: absolute;
    height: 25em;
    width: 22em;
    margin: 0 auto;
    /* left: calc(50% - 200px); */ /* Nifty trick to keep it centered */
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: linear-gradient(var(--color-primary), transparent);
    border-radius: 12em 12em 0 0;
    overflow: hidden;
}

.imageContainer > span {
    height:500px !important;
    width: auto !important;
}

.scrollDown {
    position: absolute;
    right: -2.3em;
    bottom: 5em;
    transform: rotate(90deg);
    color: var(--color-primary);
    transition: color 300ms ease-in-out;
}

.scrollDown:hover {
    color: var(--color-white);
}

/* ====== 1124px ====== */
@media screen and (max-width: 1124px) {
    .container {
        padding-top: 4em;
    }

    .title {
        font-size: 4em;
    }
}

/* ====== 768px ====== */
@media screen and (max-width: 768px) {
    .title {
        font-size: 3.5em;
    }

    .scrollDown {
        display: none;
    }

    .socials {
        flex-direction: row;
        justify-content: center;
        gap: 1.25em;
        position: static;
        margin-top: 1.25em;
    }

    .socials::before {
        content: '';
        height: 1px;
        width: 2em;
        background-color: var(--color-primary);
        margin: auto 0;
    }

    .socials::after {
        content: '';
        height: 1px;
        width: 2em;
        background-color: var(--color-primary);
        margin: auto 0;
    }

    .imageContainer {
        height: 22.5em;
        width: 22em;
    }
    
    .imageContainer > span {
        height: 400px !important;
        width: auto !important;
    }
}


/* ====== 600px ====== */
@media screen and (max-width: 600px) {
    .title {
        font-size: 2.5em;
    }

    .description {
        font-size: .9em;
    }
}

/* ====== 500px ====== */
@media screen and (max-width: 500px) {
    .title {
        font-size: 2em;
    }

    .description {
        font-size: .8em;
    }

    .imageContainer {
        height: 20em;
        width: 18em;
    }
    
    .imageContainer > span {
        height: 400px !important;
        width: auto !important;
    }
}


/* ====== 360px ====== */
@media screen and (max-width: 360px) {
    .title {
        font-size: 1.5em;
    }

    .description {
        font-size: .75em;
    }

    .buttonWrapper {
        gap: .8em;
    }

    .socials {
        gap: 1em;
    }

    .imageContainer {
        height: 16em;
        width: 14em;
    }
    
    .imageContainer > span {
        height: 300px !important;
        width: auto !important;
    }
}